body {
    margin: 0;
}

body, input, p, strong, span {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

.center-block {
    margin-top: 10px;
    display: inline-block;
}

.iphone-holder {
    height: 600px;
    float: left;
    position: relative;
}

.iphone-holder-right {
    float: right;
}

.iphone {
    height: 100%;
}

.iframe {
    position: absolute;
    border: none;
    top: 75px;
    left: 20px;
    width: 260px;
    height: 455px;
    overflow: hidden;
}

.screen {
    z-index: -1;
    position: absolute;
    left: -3px;
    top: -4px;
}

.contacts {
    position: absolute;
    top: 200px;
    left: 62px;
    border: none;
}

.contact-card {
    position: relative;
    padding: 3px;
    background-color: white;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    width: 170px;
}

.card-avatar {
    float: left;
    width: 50px;
    margin-right: 5px;
}

.card-info-holder {

}

.card-name {
    margin-top: 5px;
    margin-bottom: 2px;
}

.card-rating {
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
}

.amount {
    position: absolute;
    top: 277px;
    left: 140px;
}

input, input:focus {
    border: none;
    outline: none;
}
